body {
    background-color: #f5f5dc;
}
html, body, .height100 {
    height: 100%;
}

.container {
    display: table;
}
.vertical-center {
    display: table-cell;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.percentage-container{
    font-size: 18px;
    font-weight: bold;
    position: relative;
    height: 38px;
    line-height:18px;
}

.percentage-container-arrow{
    position: absolute;
    margin-left: -24px;
    width:45px;
    opacity:100;
    transition: 2s linear all;
    left:0;
}

.percentage-container-arrow.ng-hide {
    opacity:0;
}

.no-margin-progress{
    padding: 0 5px;
}

.no-margin-progress .progress{
    margin-bottom: 0;
}

.no-Padding{
    padding: 0 !important;
    margin: 0 !important;
}


.target-box{
    margin: -10px 0 0 10px;
    background-color: #ccc;
    color: #fff;
    border: 1px solid #000;
    width: 70px;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 768px){
    .target-box{
        margin: 0 0 3px 10px;
    }
}

